$title-font: 3rem;
$text-font: 1rem;
$font-family: 'Doppio One';

@font-face {
  font-family: 'pokemon';
  src: url('../assets/Pokemon\ Solid.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}